<h1 mat-dialog-title>Delete Yarn Stock</h1>
<mat-dialog-content class="mat-typography">
  <h3>Are you sure you wish to delete this yarn?</h3>
  <p>
    <strong> Name: {{ dialogData.data.name }} </strong>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="isSubmitting">Cancel</button>
  <button
    mat-button
    cdkFocusInitial
    (click)="onConfirm()"
    [disabled]="isSubmitting">
    <mat-icon *ngIf="isSubmitting">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    Confirm
  </button>
</mat-dialog-actions>
