@import '../../user-management.component.scss';

.role-table {
  width: 100%;
}

.role-table-container {
  max-width: 100%;
  overflow: auto;
}

.mat-column-actions {
  width: 150px;
  text-align: center;
}
