@import '../app.component';

.filter-fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.yarn-stocks-view {
  padding: 5vw;
  margin-right: 5vw;
  margin-left: 5vw;
  flex-direction: column;
}

.card-container {
  flex: 1 1 100%;
  max-width: 45% !important;
}

@media (width <= 576px) {
  .card-container {
    flex: 1 1 100%;
    max-width: 100% !important;
  }
}

@media (width >= 576px) and (width <= 768px) {
  .card-container {
    flex: 1 1 100%;
    max-width: 49% !important;
  }
}

.yarn-stocks-card {
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.yarn-stocks-content {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.yarn-stocks-card-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.optimum-level {
  color: green;
}

.reorder-level {
  color: red;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quantity-text {
  margin-right: 5px;
  margin-left: 5px;
}

.add-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.add-btn {
  background-color: forestgreen;
}

.add-icon {
  color: white;
}

.card-header {
  align-items: center;
  justify-content: space-between;
}

.action-icon {
  color: gray;
}

.stock-img {
  margin: 15px 15px 30px;
}
