<h1 mat-dialog-title>Filter Yarn Stock</h1>
<mat-dialog-content class="content">
  <section class="example-section">
    <span class="example-list-section">
      <!-- <mat-checkbox
        *ngFor="let cat of yarnCategoryList"
        [(ngModel)]="cat.checked"
        (ngModelChange)="onCatChange()">
        {{ cat.name }}
      </mat-checkbox> -->
    </span>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
