<h1 mat-dialog-title>Filter Yarn Stock</h1>
<mat-dialog-content>
  <section>
    <h3>Yarn Categories</h3>
    <mat-checkbox
      *ngFor="let cat of catList"
      [(ngModel)]="cat.checked"
      (ngModelChange)="dialogData.onChange()">
      {{ cat.name }}
    </mat-checkbox>
  </section>
  <section>
    <h3>Yarn Color Categories</h3>
    <mat-checkbox
      *ngFor="let colorCat of colorCatList"
      [(ngModel)]="colorCat.checked"
      (ngModelChange)="dialogData.onChange()">
      {{ colorCat.name }}
    </mat-checkbox>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
