<div class="address-table-container">
  <div class="add-btn-container">
    <button mat-flat-button aria-label="Add address" class="add-btn">
      <span class="add-icon">Add Address</span>
      <mat-icon class="add-icon">add</mat-icon>
    </button>
  </div>
  <table
    mat-table
    [dataSource]="addressList"
    class="mat-elevation-z8 address-table">
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef">
      <ng-container [ngSwitch]="column.columnDef">
        <ng-container *ngSwitchCase="'is-default'">
          <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon
              *ngIf="column.cell(row); else notDefault"
              class="is-default-icon">
              done
            </mat-icon>
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="'tag'">
          <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-flat-button
              color="primary"
              *ngIf="column.cell(row); else emptyTag">
              {{ column.cell(row) }}
            </button>
          </td>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <th mat-header-cell *matHeaderCellDef>
            {{ column.header }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ column.cell(row) }}
          </td>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="action-container">
        <button
          mat-icon-button
          aria-label="Edit address"
          (click)="$event.stopPropagation()">
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Delete address"
          color="warn"
          (click)="$event.stopPropagation()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsWithActions"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="12" ngClass="empty-table-data">
        No address yet!
      </td>
    </tr>
  </table>
</div>

<ng-template #notDefault>
  <mat-icon class="not-default-icon">close</mat-icon>
</ng-template>

<ng-template #emptyTag> - </ng-template>
