@import '../../user-management.component';

.address-table {
  min-width: 100%;
  overflow-x: scroll;
}

.address-table-container {
  max-width: 100%;
  overflow: auto;
}

.is-default-icon {
  color: green;
}

.not-default-icon {
  color: red;
}

.mat-column-receiver-name {
  min-width: 200px;
}

.mat-column-receiver-phone {
  min-width: 200px;
}

.mat-column-address-line-1 {
  min-width: 200px;
}

.mat-column-address-line-2 {
  min-width: 200px;
}

.mat-column-city {
  min-width: 125px;
}

.mat-column-is-default {
  text-align: center;
}

.mat-column-created-at {
  text-align: center;
  min-width: 130px;
}

.mat-column-tag {
  text-align: center;
}
