.address-table {
  width: 100%;
}

.address-table-container {
  max-width: 100%;
  overflow: auto;
}

.is-default-icon {
  color: green;
}

.not-default-icon {
  color: red;
}

.mat-column-is-default {
  text-align: center;
}

.mat-column-created-at {
  text-align: center;
}

.mat-column-tag {
  text-align: center;
}
