<h1 mat-dialog-title>{{ dialogData.actionType }} Yarn Stock</h1>
<form [formGroup]="addEditYarnStockForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="content">
    <mat-form-field
      appearance="outline"
      [class.error-msg-container]="
        addEditYarnStockForm.controls['name'].touched
      ">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error
        *ngIf="addEditYarnStockForm.controls['name'].errors?.['required']">
        Name is required.
      </mat-error>
    </mat-form-field>
    <div class="input-row-container">
      <mat-form-field
        appearance="outline"
        class="input-container"
        [class.error-msg-container]="
          addEditYarnStockForm.controls['yarnCategoryId'].touched
        ">
        <mat-label>Yarn Category</mat-label>
        <mat-select formControlName="yarnCategoryId">
          <mat-option
            *ngFor="let category of yarnCategories"
            [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            addEditYarnStockForm.controls['yarnCategoryId'].errors?.['required']
          ">
          Yarn category is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="input-container"
        [class.error-msg-container]="
          addEditYarnStockForm.controls['yarnColorCategoryId'].touched
        ">
        <mat-label>Yarn Color Category</mat-label>
        <mat-select formControlName="yarnColorCategoryId">
          <mat-option
            *ngFor="let colorCategory of yarnColorCategories"
            [value]="colorCategory.id">
            {{ colorCategory.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            addEditYarnStockForm.controls['yarnColorCategoryId'].errors?.[
              'required'
            ]
          ">
          Yarn color category is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="input-container"
        [class.error-msg-container]="
          addEditYarnStockForm.controls['cost'].touched
        ">
        <mat-label>Cost</mat-label>
        <span matPrefix class="input-prefix">RM &nbsp;</span>
        <input type="number" matInput formControlName="cost" />
        <mat-error
          *ngIf="addEditYarnStockForm.controls['cost'].errors?.['required']">
          Cost is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="input-container"
        [class.error-msg-container]="
          addEditYarnStockForm.controls['reorderLevel'].touched
        ">
        <mat-label>Reorder Level</mat-label>
        <input type="number" matInput formControlName="reorderLevel" />
        <mat-error
          *ngIf="
            addEditYarnStockForm.controls['reorderLevel'].errors?.['required']
          ">
          Reorder level is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="dialogData.actionType === 'Add'"
        appearance="outline"
        class="input-container"
        [class.error-msg-container]="
          addEditYarnStockForm.controls['quantity'].touched
        ">
        <mat-label>In Stock Quantity</mat-label>
        <input type="number" matInput formControlName="quantity" />
        <mat-error
          *ngIf="
            addEditYarnStockForm.controls['quantity'].errors?.['required']
          ">
          Quantity is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="input-container"
        [class.error-msg-container]="
          addEditYarnStockForm.controls['lastOrderedDate'].touched
        ">
        <mat-label>Last Ordered Date</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          formControlName="lastOrderedDate" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-error
          *ngIf="
            addEditYarnStockForm.controls['lastOrderedDate'].errors?.[
              'required'
            ]
          ">
          Last ordered date is required.
        </mat-error>
      </mat-form-field>
    </div>
    <app-file-upload></app-file-upload>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      type="submit"
      [disabled]="!addEditYarnStockForm.valid">
      Submit
    </button>
  </mat-dialog-actions>
</form>
