.content {
  padding-top: 10px;
  flex-direction: column;
  display: flex;
  width: 50vw;
}

.input-row-container {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input-48-container {
  flex: 1 1 100%;
  max-width: 48% !important;
}

.input-100-container {
  flex: 1 1 100%;
  max-width: 100% !important;
}

@media (width <= 768px) {
  .input-row-container {
    display: flex;
    flex-wrap: wrap;
  }

  .input-48-container {
    flex: 1 1 100%;
    max-width: 100% !important;
  }
}

.input-prefix {
  margin-left: 10px;
}
