<app-layout>
  <div class="add-btn-container">
    <button
      mat-flat-button
      aria-label="Add user"
      class="add-btn"
      (click)="openAddDialog()">
      <span class="add-icon">Add User</span>
      <mat-icon class="add-icon">add</mat-icon>
    </button>
  </div>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="handleFilter($event)" placeholder="Search..." />
  </mat-form-field>
  <div class="user-table-container">
    <table
      mat-table
      multiTemplateDataRows
      [dataSource]="userList"
      class="mat-elevation-z8 user-table"
      matSort
      (matSortChange)="handleSort($event)">
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.columnDef">
        <th
          mat-header-cell
          *matHeaderCellDef
          [mat-sort-header]="column.sortName"
          [disabled]="column.sortName === 'phone'">
          {{ column.header }}
        </th>
        <td mat-cell *matCellDef="let row">
          {{ column.cell(row) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let element" class="action-container">
          <button
            mat-icon-button
            aria-label="Edit user"
            (click)="openEditDialog(element); $event.stopPropagation()">
            <mat-icon class="edit-icon">edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Delete user" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedUser = expandedUser === element ? null : element;
              $event.stopPropagation()
            ">
            <mat-icon *ngIf="expandedUser !== element"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="expandedUser === element"
              >keyboard_arrow_up</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedUserDetail">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="columnsToDisplayWithExpand.length">
          <div
            class="user-detail"
            [@detailExpand]="row === expandedUser ? 'expanded' : 'collapsed'">
            <mat-tab-group class="user-details-tab-group" color="accent">
              <mat-tab label="Roles">
                <app-roles-table [roles]="expandedUser?.userRoles || []">
                </app-roles-table>
              </mat-tab>
              <mat-tab label="Addresses">
                <app-addresses-table
                  [addresses]="expandedUser?.addresses || []">
                </app-addresses-table>
              </mat-tab>
            </mat-tab-group>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplayWithExpand"
        class="user-row"
        [class.expanded-user-details]="expandedUser === row"
        (click)="expandedUser = expandedUser === row ? null : row"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedUserDetail']"
        class="user-detail-row"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8" ngClass="empty-table-data">No data</td>
      </tr>
    </table>
  </div>
  <mat-paginator
    color="accent"
    [length]="totalFiltered"
    [pageSize]="pagination.pageSize"
    [pageIndex]="pagination.pageIndex"
    showFirstLastButtons="true"
    (page)="handlePageEvent($event)"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users">
  </mat-paginator>
</app-layout>
