.user-table {
  width: 100%;
}

.user-table-container {
  max-width: 100%;
  overflow: auto;
}

tr.user-detail-row {
  height: 0;
}

tr.user-row:not(.expanded-user-details):hover {
  background: whitesmoke;
}

.user-row td {
  border-bottom-width: 0;
}

.user-detail {
  overflow: hidden;
  display: flex;
}

.user-details-tab-group {
  width: 100%;
}
