.user-table {
  min-width: 100%;
  overflow-x: scroll;
}

.user-table-container {
  max-width: 100%;
  overflow: auto;
}

tr.user-detail-row {
  height: 0;
}

tr.user-row:not(.expanded-user-details):hover {
  background: whitesmoke;
}

.user-row td {
  border-bottom-width: 0;
}

.user-detail {
  overflow: hidden;
  display: flex;
}

.user-details-tab-group {
  width: 100%;
  margin: 16px 0;
  background: white;
}

.mat-column-name {
  min-width: 200px;
}

.mat-column-preferred-name {
  min-width: 200px;
}

.mat-column-phone {
  min-width: 150px;
}

.mat-column-dob {
  min-width: 130px;
}

.mat-column-created-at {
  min-width: 130px;
}

.mat-column-expanded-user-detail {
  background: #f5dbc9;
}

.action-container {
  flex-direction: row;
  display: flex;
}
