.user-table {
  width: 100%;
}

.user-table-container {
  max-width: 100%;
  overflow: auto;
}

.mat-column-id {
  text-align: center;
}

.mat-column-gender {
  text-align: center;
}

.mat-column-dob {
  text-align: center;
}

.mat-column-created-at {
  text-align: center;
}
