<app-layout>
  <div class="user-table-container">
    <table
      mat-table
      [dataSource]="userList"
      class="mat-elevation-z8 user-table"
      matSort
      (matSortChange)="handleSort($event)">
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.columnDef">
        <th
          mat-header-cell
          *matHeaderCellDef
          [mat-sort-header]="column.sortName"
          [disabled]="column.sortName === 'phone'">
          {{ column.header }}
        </th>
        <td mat-cell *matCellDef="let row">
          {{ column.cell(row) }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    color="accent"
    [length]="totalFiltered"
    [pageSize]="pagination.pageSize"
    [pageIndex]="pagination.pageIndex"
    showFirstLastButtons="true"
    (page)="handlePageEvent($event)"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users">
  </mat-paginator>
</app-layout>
