<mat-drawer-container autosize hasBackdrop class="drawer-container">
  <mat-drawer #drawer mode="side" class="drawer">
    <p><strong>Menu</strong></p>
    <div *ngFor="let item of drawerNavItems">
      <button
        mat-button
        (click)="onItemsSelected(item.route)"
        color="{{ item === currentItem ? 'primary' : 'default' }}">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.name }}
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button
        mat-icon-button
        aria-label="Icon button to open sidenav"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      {{ currentItem.name }}
    </mat-toolbar>
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
