<mat-drawer-container autosize hasBackdrop class="drawer-container">
  <mat-drawer #drawer mode="side" class="drawer">
    <p><strong>Menu</strong></p>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button
          mat-button
          (click)="onItemsSelected(node.route)"
          color="{{ node === currentItem ? 'primary' : 'default' }}">
          {{ node.name }}
          <mat-icon>{{ node.icon }}</mat-icon>
        </button>
      </mat-tree-node>
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding>
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        {{ node.name }}
      </mat-tree-node>
    </mat-tree>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        aria-label="Icon button to open sidenav"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      {{ currentItem.name }}
    </mat-toolbar>
    <div class="drawer-content">
      <div class="main-content">
        <ng-content></ng-content>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
