.drawer-container {
  height: 100vh;
}

.drawer {
  padding: 20px;
}

.drawer-content {
  display: flex;
  height: calc(100% - var(--mat-toolbar-standard-height));
  align-content: stretch;
  flex-direction: column;
  justify-content: space-between;
}

@media (width <= 599px) {
  .drawer-content {
    height: calc(100% - var(--mat-toolbar-mobile-height));
  }
}

.main-content {
  flex-grow: 1;
  padding: 5vw;
  flex-flow: column wrap;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
