.master-data-card {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.master-data {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.master-data-header {
  margin-left: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.add-btn {
  background-color: forestgreen;
}

.add-icon {
  color: white;
}

.no-data-img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
