@import url('../app.component.scss');

.master-data-content {
  padding: 5vw;
  flex-flow: column wrap;
  display: flex;
}

.master-data-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.master-data {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.master-data-header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.add-btn {
  background-color: forestgreen;
}

.add-icon {
  color: white;
}
