.master-data-content {
  padding: 5vw;
  flex-flow: column wrap;
  display: flex;
}

.master-data-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.master-data {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.edit-icon {
  color: goldenrod;
}
