<div class="drop-zone-container">
  <div
    class="drop-zone"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)">
    <span>Drag and drop files here or click to select</span>
  </div>
  <input
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    #fileInput
    style="display: none" />
  <button
    mat-raised-button
    type="button"
    color="primary"
    (click)="fileInput.click()"
    class="upload-button">
    Select File
  </button>
  <div *ngIf="imageName" class="uploaded-file">
    {{ imageName }}
    <mat-chip *ngIf="isNewImage" class="new-chip">NEW</mat-chip>
    <button
      mat-icon-button
      aria-label="Remove file"
      type="button"
      class="remove-uploaded-file-button"
      (click)="onFileRemoved()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
