/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;

  &.app-notification-error {
    --mdc-snackbar-container-color: #f23a2f;
    --mat-snack-bar-button-color: #64120e;
  }

  &.app-notification-success {
    --mdc-snackbar-container-color: #43a446;
    --mat-snack-bar-button-color: #235b25;
  }
}

.fetching-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.empty-table-data {
  padding: 20px;
  text-align: center;
}
