/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;

  &.app-notification-error {
    --mdc-snackbar-container-color: #f23a2f;
    --mat-snack-bar-button-color: #64120e;
  }

  &.app-notification-success {
    --mdc-snackbar-container-color: #43a446;
    --mat-snack-bar-button-color: #235b25;
  }
}

.fetching-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.empty-table-data {
  padding: 20px;
  text-align: center;
}

.add-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.add-btn {
  background-color: forestgreen !important;
}

.add-icon {
  color: white;
}

.dialog-content {
  padding-top: 10px;
  flex-direction: column;
  display: flex;
  width: 50vw;
}

.input-row-container {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input-48-container {
  flex: 1 1 100%;
  max-width: 48% !important;
}

.input-100-container {
  flex: 1 1 100%;
  width: 100% !important;
}

.input-40-container {
  flex: 1 1 100%;
  max-width: 40% !important;
}

.input-56-container {
  flex: 1 1 100%;
  max-width: 56% !important;
}

@media (width <= 768px) {
  .input-row-container {
    display: flex;
    flex-wrap: wrap;
  }

  .input-48-container {
    flex: 1 1 100%;
    max-width: 100% !important;
  }
}

.input-prefix {
  margin-left: 10px;
}

.edit-icon {
  color: goldenrod;
}

.space-between-container {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
