@use '@angular/material' as mat;
@use '../src/app/footer/footer.component.scss' as footer;
@include mat.core;

$my-primary-palette: (
  50: #f5dbc9,
  100: #dda783,
  200: #bd6f3b,
  300: #9b3700,
  400: #800,
  500: #730000,
  600: #710000,
  700: #6d0000,
  800: #650000,
  900: #5b0000,
  contrast: (
    50: #5b0000,
    100: #5b0000,
    200: #5b0000,
    300: #f5dbc9,
    400: #f5dbc9,
    500: #f5dbc9,
    600: #f5dbc9,
    700: #f5dbc9,
    800: #f5dbc9,
    900: #f5dbc9,
  ),
);
$my-accent-palette: (
  50: #ffe3c7,
  100: #f4c1a8,
  200: #d59e84,
  300: #b57b5e,
  400: #9d6042,
  500: #854727,
  600: #7a3e21,
  700: #6a3219,
  800: #5c2413,
  900: #4c1608,
  contrast: (
    50: #7a3e21,
    100: #7a3e21,
    200: #7a3e21,
    300: #ffe3c7,
    400: #ffe3c7,
    500: #ffe3c7,
    600: #ffe3c7,
    700: #ffe3c7,
    800: #ffe3c7,
    900: #ffe3c7,
  ),
);
$my-primary: mat.define-palette($my-primary-palette, 50);
$my-accent: mat.define-palette($my-accent-palette, 300);
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);
@include footer.theme($my-theme);
